.gradient-text {
    background: var(--gray-cool-white, linear-gradient(92deg, #FFF 47.94%, #D1CAE4 100%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-card-inner {
    background: linear-gradient(0deg, #151519 0%, rgba(21, 21, 25, 0.10) 40%, rgba(0, 0, 0, 0.00) 100%, #000 100%);
}

.landing-card-outer {
    background: var(--resend-com-linear-nero-nero, linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%));
    @apply p-[1px] rounded-0 z-0;
}
