
.Tos p,
.Tos ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    list-style: disc;
    list-style-position: inside;
}

.Tos ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    list-style: decimal;
    list-style-position: inside;
}

.Tos td {
    @apply border border-gray-white p-6;
}